body{
    padding: 0;
    margin: 0;
    font-family: 'Inria Serif', serif;
    font-family: 'Roboto', sans-serif;
}
#sessao-tela-cadastro{
    display: flex;
    height: 100vh; 
    background-color: #4176fc;
}
.background-cadastro{
    width: 50vw;
}
.foto-cadastro{
    width: 50vw;
    height: 100vh;
}
.criar-conta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.titulo-cadastro{
    color: #fff;
    margin: 20px;
    letter-spacing: 2px;
}
.form-cadastro{
    display: flex;
    flex-direction: column;
}
.inputs-cadastro{
    width: 250px;
    padding: 5px;
    margin: 5px 0;
    height: 30px;
    border: none;
    outline: unset;
    border-radius: 3px;
}
.btn-tela-cadastro{
    height: 30px;
    width: 262px;
    border: 1px solid #fff;
    margin-top: 30px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
}
.btn-tela-cadastro:hover{
    background-color: rgb(47, 115, 173);
}
.obg-cadastro{
    color: white;
    margin: 15px 0;
    font-size: 12px;
}
.btn-fazer-login{
    background-color: rgb(42, 96, 214);
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    color: #fff;
    border: none;
    margin: 10px 0;
    font-size: 13px;
    cursor: pointer;
}
.btn-fazer-login:hover{
    background-color: #fff;
    color: rgb(42, 96, 214);
}