*{
    padding: 0;
    margin: 0;
    font-family: 'Inria Serif', serif;
    font-family: 'Roboto', sans-serif;
}
#sessao-relatorios{
    width: 83vw;
    height: 100vh;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
}
.relatorios-chamados{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    padding-bottom:40px;
    justify-content: space-between;
    width: 900px;
    border-bottom: 1px solid #4176fc;
    border-top: 1px solid #4176fc;
}
.titulo-relatorios-chamados{
    color: #4176fc;
    text-align: center;
    margin: 25px 0;
}
.cards-relatorios{
    display: flex;
    justify-content: space-between;
}
.titulo-relatorios{
    display: flex;
}
.subtitulo-relatorios{
    display: inline-block;
    border-bottom: 2px solid #4176fc;
    padding: 15px 0;
    color: rgb(95, 95, 95);
}
.testechart{
    width: 900px;
    height: 400px;
}
.settings-img{
    width: 50px;
    padding: 0 10px;
}
.box-relatorios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 3px 0px 2px 0px #396ffa inset;
    width: 400px;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 3px;
}
.titulo-rlt-chamados{
    color: #396ffa;
}
.contador-chamados{
    color: #4176fc;
    border: 1px solid #396ffa;
    padding: 10px;
    border-radius: 5px;
}
.pie-line{
    display: flex;
    justify-content: center;
}
.chart-pie{
    width: 400px;
    padding-right: 15px;
}
.chart-line-gradient{
    width: 475px;
    padding-left: 15px;
}
.chart-gradient{
    margin: 50px;
}
.titulo-chart-grandient{
    margin-bottom: 50px;
    font-size: 25px;
    color: #4176fc;
    text-align: center;
}
.titulo-chart-line{
    color: #4176fc;
    text-align: center;
}
.titulo-chart-pie{
    color: #4176fc;
}
